.home-container {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-box {
    width: 592px;
    height: 500px;

    border-radius: 72px;
    background: linear-gradient(180deg, #344ABA 0%, rgba(0, 20, 121, 0.83) 100%);
    box-shadow: 0px 6px 0px 8px #2463FF inset, 0px -8px 0px 4px #140E66 inset;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-title {
    margin-top: -110px;
    width: 373.686px;

    @media only screen and (max-width: 740px) {
        width: 355.686px;




    }

    @media only screen and (max-width: 600px) {
        width: 263.686px;
        margin-top: -50px;


    }
}

.play-game-btn {
    display: flex;
    width: 200px;
    height: 200px;
    flex-shrink: 0;

    justify-content: center;
    align-items: center;

    margin-top: 54px;
    margin-bottom: 58px;

    border-radius: 999px;
    background: linear-gradient(180deg, #FE71FE 16.42%, #7199FF 100%);
    box-shadow: 0px -4px 0px 5px #243041 inset, 0px -12px 0px 11px #9D2DF5 inset;

    &:hover,
    &:active {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%), linear-gradient(180deg, #FE71FE 16.42%, #7199FF 100%);


    }

    img {
        width: 66.038px;

        @media only screen and (max-width: 600px) {
            width: 51.038px;



        }
    }

    @media only screen and (max-width: 600px) {
        width: 160px;
        height: 160px;


    }


}

.how-to-play-btn {

    color: var(--White, #FFF);
    text-align: center;

    /* Heading S */
    font-family: "Mouse Memoirs";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 38.4px */
    letter-spacing: 1.6px;
    text-transform: uppercase;



    display: inline-flex;
    padding: 12px 64px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 40px;
    background: var(--Blue, #2463FF);
    box-shadow: 0px -2px 0px 3px #140E66 inset, 0px 1px 0px 6px #3C74FF inset;



    &:hover,
    &:active {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%), #2463FF;




    }
}

.quit-game-btn {

    color: var(--White, #FFF);
    text-align: center;

    /* Heading S */
    font-family: "Mouse Memoirs";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 38.4px */
    letter-spacing: 1.6px;
    text-transform: uppercase;



    display: inline-flex;
    padding: 12px 64px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 40px;
    background: var(--Pink-Gradient, linear-gradient(180deg, #FE71FE 16.42%, #7199FF 100%));
    box-shadow: 0px 1px 0px 6px #C642FB inset, 0px -2px 0px 3px #140E66 inset;



    &:hover,
    &:active {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%), linear-gradient(180deg, #FE71FE 16.42%, #7199FF 100%);




    }
}
